In [7]:
# sorting
arr=[4,2,45,6,7]

for i in range(0,len(arr)):
    for j in range(i+1,len(arr)):
        #print(f"{arr[i]}>{arr[j]}")
        if arr[i]>arr[j]:
            arr[i],arr[j]=arr[j],arr[i]
            #print(arr)
            
        
print(arr)

[2, 4, 6, 7, 45]

In [5]:
# find index of sum of 25 within array
arr=[5,8,10,15,20,30]
sum_val=0
arr_index=[]
for i in range(0,len(arr)):
    for j in range(i+1,len(arr)):
        sum_val=arr[i]+arr[j]
        if sum_val==25:
            arr_index.append([i,j])
            break
        else:
            sum=0
print(arr_index)

[[0, 4], [2, 3]]

In [24]:
import numpy as np
import pandas as pd
col1=np.array([[i,i+10] for i in range(1,11)])


df=pd.DataFrame(col1,columns=["col1","col2"])


df["col1"]=df["col1"]**2
df["col2"]=df["col2"].apply(lambda x:x**2)
df["col2"]=df["col2"].apply(lambda x:x if x%2==0 else "")
df

   col1 col2
0     1
1     4  144
2     9
3    16  196
4    25
5    36  256
6    49
7    64  324
8    81
9   100  400

In [42]:
paras=["hello how are you good bad","testing the text paragraph","some text bad text testing"]
def convertToWords(para):
    #print(para.split(" "))
    return para.split(" ")
words=[]
for i in paras:
    words.extend(convertToWords(i))
    

dict_={}
for i in words:
    count=0
    for j in words:
        if i==j:
            count+=1
    dict_[i]=count
    
dict_

{'hello': 1,
 'how': 1,
 'are': 1,
 'you': 1,
 'good': 1,
 'bad': 2,
 'testing': 2,
 'the': 1,
 'text': 3,
 'paragraph': 1,
 'some': 1}